/* Default light mode styles */
* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #202124;
}

h1,
h2,
h3,
input,
button {
  font-family: 'Press Start 2P', system-ui;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 14px;
  background: #eff6ff;
  gap: 14px;
}

header {
  display: flex;
  align-items: stretch;
}

header,
.main {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  gap: 14px;
  margin-bottom: 1vh;
}

header input {
  flex: 1;
  border-radius: 14px;
  outline: none;
  width: 100%;
}

header button {
  border-radius: 14px;
  background: transparent;
  transition-duration: 200ms;
  cursor: pointer;
}

header button:hover {
  opacity: 0.7;
}

header button,
header input {
  padding: 14px 18px;
  border: none;
  outline: none;
  background: white;
}

p {
  font-size: 0.9em;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.taskItem {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 14px;
  border-radius: 14px;
  background: white;
}

.taskItem p {
  flex: 1;
}

.actionsContainer {
  display: flex;
  align-items: center;
  gap: 14px;
}

.actionsContainer button {
  transition-duration: 200ms;
  border: none;
  background: transparent;
  cursor: pointer;
}

.actionsContainer button:hover {
  opacity: 0.7;
}

.toggle {
  position: fixed;
  top: 10px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: white;
  border: 2px solid #060621;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.5em;
  transition: background-color 0.3s;
}

.toggle i {
  color: #060621;
  transition: color 0.3s;
}

.toggle:hover {
  background-color: #060621;
}

.toggle:hover i {
  color: #ffb113;
}

/* Dark mode styles */
body.dark-mode #root {
  background: #000c18;
}

/* adjust later */
body.dark-mode header button, body.dark-mode header input {
  background: #202124;
  color: white;
}

body.dark-mode .taskItem {
  background: #202124;
}

body.dark-mode .taskItem p {
  color: white;
}

body.dark-mode .taskItem i {
  color: white;
}

body.dark-mode input::placeholder {
  color: rgba(255, 255, 255, 0.623);
}


body.dark-mode .toggle {
  background-color: #000c18;
  border: 2px solid white;
}

body.dark-mode .toggle i {
  color: white;
  transition: color 0.3s;
}

body.dark-mode .toggle:hover {
  background-color: white;
}

body.dark-mode .toggle:hover i {
  color: #ffb113;
}

@media (min-width: 640px) {

  header button,
  header input {
    font-size: 1.2em;
  }

  p {
    font-size: 1em;
  }
}

